{% extends 'base.html.twig' %}

{% block title %}Page d'Accueil{% endblock %}

{% block body %}
<div class="container">
    <h1>Produits actuels</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                <div class="card">
                <div class="card-header">
                    {% for subCategory in product.subCategory %}
                        {{subCategory.name}}
                    {% endfor %}
                </div>
                    <img src=" {{ asset('uploads/images/'~product.image)}} " class="imgproduct card-img-top h-100"></img>
                    <div class="card-body">
                        <a href="{{path('app_home_product_show', {'id': product.id}) }}"><h5 class="card-title titleProduct"> {{product.name}} </h5></a>
                        <p class="card-text"> {{product.description|slice(0,60)}}... <br> 
                         <span>{{product.price}}€</span>
                        </p>
                 
                        <a href="#" class="btn btn-outline-success">Ajouter au panier</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    
</div>
{% endblock %}
